footer {
    background: linear-gradient(135deg, #fdfdfd, #f0eeee);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
}

.citation {
    text-align: center;
    margin: 0;
    max-width: 70%;
}

.citation-text {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.author {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-family: 'Allura', sans-serif;
    margin-bottom: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 100%;
}

.socialMedia {
    height: 45px;
    width: 100%;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s, transform 0.3s;
    width: 25px;
    height: 25px;
    margin: 0 40px;
}

.social-icon img:hover {
    filter: brightness(0.8) invert(1.2);
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-menu,
    .footer-contacts {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 570px) {
    .footer-content {
        padding: 10px 20px;
    }

    .social-icon img {
        width: 20px;
        height: 20px;
        margin: 0 20px;
    }

    .citation-text {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .footer-menu {
        display: none;
    }

    .footer-contacts {
        justify-content: center;
        width: 100%;
        padding: 0;
    }
}